<!DOCTYPE html>

<html>
    <head>
        <title>
            {{pageTitle}}
        </title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        <p>{{maintenanceMessage}}</p>
        <footer>
            <p>Copyrigth {{getCurrentYear}}</p>
        </footer>
    </body>
</html>