<header>
    <div class="header">
        <div>Header</div>
        <div>Created by Omar - Copyrigth{{getCurrentYear}}</div>
        <div>Currently viewing {{pageTitle}} page</div>
        <p>
            <a href="/about">About</a>
        </p>
         <p>
            <a href="/help?name=Omar">Help</a>
        </p>
        <p>
            <a href="/menu?name=Omar">Main site</a>
        </p>
    </div>
</header>
